@font-face {
  font-family: 'martelsans';
  src: url('../fonts/MartelSans-Regular.ttf');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Material-Design-Icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }




header, main, footer, #content {
	padding-left: 240px;
}

.nav-wrapper {
	padding-left: 220px;
}

nav a.button-collapse {
    display: inline;
	pointer-events: none;
}

nav a i.material-icons {
    color:white;
}

nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px 0 10px;
}

@media only screen and (max-width : 992px) {
	header, main, footer, .nav-wrapper, #nav_title, #content {
		padding-left: 0;
	}

	nav a.button-collapse {
		pointer-events: auto;
	}
	
	nav a i.material-icons {
		color:red;
	}
}

#nav_title {
	position:relative;
	top:3px;
}

.item_description  {
	display:none;
	text-align:justify;
	width:100%;
	padding:0px 10px 10px 30px;
}



.item_title {
	display:block;
}

.item_date {
	display:block;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 0rem;
    padding: 10px 20px 4px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item.avatar {
    min-height: 0px;
    padding-left: 72px;
    position: relative;
}

.side-nav a:hover {
    background-color: white;
}

.side-nav a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 10px 0 10px;
}

.side-nav li.active {
    background-color: rgba(0,0,0,0);
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 10px;
}

.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover {
    background-color: rgba(0,0,0,0);
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 5px 0 16px;
}





html {
  font-family: "martelsans", sans-serif;
}

.close_button {
	position: fixed;
	top: 5px;
	left: 5px;
	z-index:10000;
	display:none;
	cursor: pointer;
}

.button-collapse {
	padding-left:10px;
}

.anchor {
	display:block;
	float:none;
	clear:both;
}

.navbar-fixed {
    position: fixed;
	top:0px;
	left:0px;
}

.content{
	clear:both;
	height:1000px;
	margin-top:74px;
	overflow:auto;
	z-index: 10000;
	padding:0px;
}

#xml_content {
	padding:0px 10px 0px 20px;
	/*height:1000px;*/
}

#xml_content img {
	width:100%;
}